<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>UCLab</title>

	<meta name="theme-color" content="#ffffff">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="/lib/animate.css/animate.css" rel="stylesheet">
	<link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
	<link href="/lib/flexslider/flexslider.css" rel="stylesheet">
	<link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
	<link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
	<link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
	<link href="/lib/leaflet/leaflet.css" rel="stylesheet">
	<link href="//project.fcknawsm.ru/assets/css/realestate.css" rel="stylesheet">
	<link href="/styles/site.min.css" rel="stylesheet">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	{{{body}}}
</body>
</html>
