<div class="main login-container">
	<section class="module grad-p">
		<div class="container">
			<div class="row">
				<div class="center-div-450">
					<h2>Enter your account details.</h2>
					<div class="login-fields">
						<form class="form-component hollow">
							<div class="login-input"><input type="email" class="input-inner" placeholder="Account Email" value=""></div>
							<div class="login-input"><input type="password" class="input-inner" placeholder="Password" value=""></div>
							<div class="login-input"><input type="submit" name="submit" class="login-submit" value="Sign In" disabled="disabled"></div>
						</form>
						<div class="login-label"><p>- OR -</p></div>
						<div class="login-alter">
							<a href="service1" class="">Use Google</a>
							<a href="" class="">Use Facebook</a>
						</div>
						<div class="login-label"><a href="http://project.fcknawsm.ru/prelogin#signup">Don't have an account?</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr class="divider-d">
</div>
