<div class="main login-container">
	<section id="map-module" class="module">
		<div class="container-map">
			<div id="map-wrap">
				
				{{!--<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=43.5992431640625%2C48.23382085308753%2C45.41198730468751%2C49.06756814081644&amp;layer=mapnik" style="border: 1px solid black"></iframe>--}}
			</div>
		</div>
	</section>
</div>
