<div class="main login-container signup">
	<section class="module grad-p">
		<div class="container">
			<div class="row">
				<div class="center-div-500">
					<h2>Just sign up</h2>
					<div class="signup-fields">
						<form class="form-component hollow">
							<input type="hidden" name="action" value="register">
							<div class="login-input"><input type="name" class="input-inner" placeholder="Name" required value=""></div>
							<div class="login-input"><input type="email" class="input-inner" placeholder="Email" required value=""></div>
							<div class="login-input"><input type="password" class="input-inner" placeholder="Password" required value=""></div>
							<div class="login-input"><input type="submit" name="submit" class="signup-submit" value="Sign Up"></div>
						</form>
						<div class="login-label"><p>- OR -</p></div>
						<div class="login-alter">
							<a href="service1" class="">Use Github</a>
							<a href="" class="">Use Facebook</a>
						</div>
						<div class="login-helper"><p>By signing up you agree to our <a href="http://project.fcknawsm.ru/terms" target="_blank">Terms of Service</a></p></div>
					</div>
				</div>
			</div>
	</section>
	<hr class="divider-d">
	<footer class="footer bg-dark footer-fixed">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p class="copyright font-alt">&copy; 2017&nbsp;<a href="index">Name</a>, All Rights Reserved</p>
				</div>
				<div class="col-sm-6">
					<div class="footer-social-links"><a href="">Contact</a><a href="privacy">Privacy</a><a href="terms">Terms</a><a href="http://project.fcknawsm.ru/about">About</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</div>
